<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">


    <title>Homepage</title>
</head>

<body>
    <!--Navbar-->
    <ul>
      <li><a href="/about.html">About</a></li>
      <li><a href="/teams.html">MLB Teams</a></li>
      <li><a href="/map.html">Map</a></li>
      <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Visualizations</a>
          <div class="dropdown-content">
            <a href="/batting_avg.html">Batting Average</a>
            <a href="/earn_run_avg.html">Earn Run Average</a>
            <a href="/pie_charts.html">Day/Night Pies</a>
          </div>
      <li style="float:left"><a class="active" href="/">Home</a></li>
    </ul>
  
    <div class="container">
    <h1>Major League Baseball: Day Games vs. Night Games </h1>
    <p>
        In this project, our team set out to examine Major League Baseball statistics to determine whether day or night games favor the pitchers (defense) or batters (offense). 
        We contrasted the earned run average (ERA) of pitchers and batting average of hitters (AVG) across all 2,430 games played in the 2019 baseball regular season to see if the sun and shadows favored one side of the other. 
    </p>
    <p>
        We have included visualizations of the results of our analysis, as well as an interactive map showing the locations of all MLB stadiums across the country.  
    </p>
    <div class="stock_image1">
      <img src="static/img/day_stadium.jpg" alt="Day Stadium Image" width="450" height="350">
      </div>
  
      <div class="stock_image2">
      <img src="static/img/night_stadium.jpg" alt="Night Stadium Image" width="450" height="350">
      </div>
      </div>
    
    
    </div>

    

    
</body>

</html>
