<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <title>Pie Charts</title>
</head>

<body>
   <!--Navbar-->
   <ul>
    <li><a href="/about.html">About</a></li>
    <li><a href="/teams.html">MLB Teams</a></li>
    <li><a href="/map.html">Map</a></li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Visualizations</a>
        <div class="dropdown-content">
          <a href="/batting_avg.html">Batting Average</a>
          <a href="/earn_run_avg.html">Earn Run Average</a>
          <a href="/pie_charts.html">Day/Night Pies</a>
        </div>
    <li style="float:left"><a class="active" href="/">Home</a></li>
  </ul>

  <!-- Plots --> 
  
  <div id="plot3"></div> 
  <div id="plot4"></div>
  
</body>

<script type="text/javascript" src="../static/js/app.js"></script>


</html>