<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <title>MLB Teams</title>


    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  />
  <style>
    .jumbotron {
      text-align: center;
    }
  </style>



</head>

<body>
    <ul>
        <li><a href="/templates/about.html">About</a></li>
        <li><a href="/templates/teams.html">MLB Teams</a></li>
        <li><a href="/templates/map.html">Map</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Visualizations</a>
            <div class="dropdown-content">
              <a href="/templates/batting_avg.html">Batting Average</a>
              <a href="/templates/earn_run_avg.html">Earn Run Average</a>
              <a href="/templates/pie_charts.html">Day/Night Pies</a>
            </div>
        <li style="float:left"><a class="active" href="/templates/index.html">Home</a></li>
      </ul>

      <div class="container">
      <div class="jumbotron">
        <h1>Austin Weather</h1>
      </div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>date</th>
                <th>low</th>
                <th>high</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>

    </div>
    
</body>


    <script src="/static/js/table.js"></script>
</html>